header {
  text-align: center;
  padding: 30px;
  font-family: "Pridi", serif; }
  header h1 {
    font-size: 100px;
    font-weight: 900px; }

.cardBucket {
  display: flex;
  align-items: flex-end;
  justify-content: space-around; }

.imageCard1 h1 {
  font-family: "Pridi", serif; }

.imageCard1 h4 {
  font-family: "Pridi", serif; }

.imageCard1 {
  padding: 10px;
  flex: 50%; }
  .imageCard1 img {
    border-radius: 10px;
    width: 100%; }

.imageCard1 .text-insert {
  border-radius: 4px;
  width: 250px;
  position: absolute;
  left: 40%;
  bottom: -32.5%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  opacity: 0.9;
  color: black;
  padding-left: 20px;
  padding-right: 20px; }

.imageCard1 .text-insert h4 {
  font-size: 20px;
  font-weight: 900;
  font-family: "Roboto", sans-serif; }

.imageCard1 .text-insert p {
  font-family: "Roboto", sans-serif; }

.imageCard1 .text-insert .actionItems {
  display: flex; }
  .imageCard1 .text-insert .actionItems p {
    font-weight: 700;
    padding: 10px; }

.imageCard2 h1 {
  font-family: "Pridi", serif; }

.imageCard2 h4 {
  font-family: "Pridi", serif; }

.imageCard2 {
  padding: 10px;
  flex: 50%; }
  .imageCard2 .skyline {
    border-radius: 10px;
    width: 100%;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1); }

.imageCard2 .text-insert {
  border-radius: 4px;
  width: 250px;
  position: absolute;
  right: 22.5%;
  bottom: -35%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  opacity: 0.9;
  color: black;
  padding-left: 20px;
  padding-right: 20px; }

.imageCard2 .text-insert .insertHeader {
  display: flex; }
  .imageCard2 .text-insert .insertHeader .logo {
    height: 40px;
    margin-right: 5px;
    width: 75px;
    padding: 5px;
    padding-left: 50px; }

.imageCard2 .text-insert h4 {
  font-size: 20px;
  font-weight: 900;
  font-family: "Roboto", sans-serif;
  line-height: 1px; }

.imageCard2 .text-insert .text {
  font-family: "Roboto", sans-serif;
  padding-bottom: 15px;
  border-bottom: 1px solid darkgrey; }

.imageCard2 .text-insert .actionItems {
  display: flex; }
  .imageCard2 .text-insert .actionItems p {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    padding: 10px; }

.imageCard3 {
  width: 20%;
  padding-bottom: 10px; }
  .imageCard3 .content {
    border-radius: 4px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08); }
    .imageCard3 .content img {
      width: 100%; }

.imageCard3 h1 {
  text-align: left;
  font-family: "Pridi", serif;
  line-height: 2px; }

.imageCard3 h4 {
  text-align: left;
  font-family: "Pridi", serif; }

.imageCard3 .container {
  padding: 2px 16px;
  text-align: left; }
  .imageCard3 .container h4 {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-size: 19px;
    line-height: 1px; }

.imageCard3 .container h6 {
  font-size: 14px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  line-height: 1px; }

.imageCard3 .container {
  padding: 2px 16px;
  text-align: left; }
  .imageCard3 .container p {
    padding-top: -10px;
    font-family: "Roboto", sans-serif;
    border-bottom: 1px solid darkgrey;
    padding-bottom: 20px; }

.actionItems .button {
  background-color: black;
  font-family: "Roboto", sans-serif;
  color: white;
  padding: 10px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  cursor: pointer; }

.imageCard4 {
  width: 20%; }
  .imageCard4 .content {
    border-radius: 4px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08); }
    .imageCard4 .content img {
      width: 100%; }

.imageCard4 h1 {
  text-align: center;
  font-family: "Pridi", serif;
  line-height: 2px; }

.imageCard4 h4 {
  text-align: center;
  font-family: "Pridi", serif; }

.imageCard4 .container {
  padding: 2px 16px;
  text-align: center; }
  .imageCard4 .container h4 {
    line-height: 1px;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-size: 18px; }

.imageCard4 .container {
  padding: 2px 16px;
  text-align: center; }
  .imageCard4 .container p {
    font-size: 15px;
    font-family: "Roboto", sans-serif;
    border-bottom: 1px solid darkgrey;
    padding-bottom: 20px; }

.button {
  background-color: black;
  font-family: "Roboto", sans-serif;
  border: none;
  color: white;
  padding: 10px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  cursor: pointer; }

.imageCard5 {
  width: 20%; }
  .imageCard5 .content {
    border-radius: 4px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08); }
    .imageCard5 .content img {
      width: 100%;
      height: 415px; }

.imageCard5 h1 {
  text-align: right;
  font-family: "Pridi", serif;
  line-height: 2px; }

.imageCard5 h4 {
  text-align: right;
  font-family: "Pridi", serif; }

.imageCard5 .container {
  padding: 2px 16px;
  text-align: right; }
  .imageCard5 .container h4 {
    line-height: 1px;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-size: 18px; }

.imageCard5 .container {
  padding: 2px 16px;
  text-align: right; }
  .imageCard5 .container p {
    font-size: 15px;
    font-family: "Roboto", sans-serif;
    border-bottom: 1px solid darkgrey;
    padding-bottom: 20px; }

.button {
  background-color: black;
  font-family: "Roboto", sans-serif;
  border: none;
  color: white;
  padding: 10px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  cursor: pointer; }

/*# sourceMappingURL=image.css.map */
