header {
  text-align: center;
  padding: 30px;
  font-family: "Pridi", serif; }
  @media (min-width: 600px) and (max-width: 1024px) {
    header {
      padding: 5px; } }
  @media (min-width: 200px) and (max-width: 600px) {
    header {
      padding: 5px; } }
  header h1 {
    line-height: 1px;
    font-size: 100px;
    font-weight: 900px; }
    @media (min-width: 600px) and (max-width: 1024px) {
      header h1 {
        font-size: 50px; } }
    @media (min-width: 200px) and (max-width: 600px) {
      header h1 {
        font-size: 30px; } }

header h3 {
  font-size: 50px;
  font-weight: 900px; }
  @media (min-width: 600px) and (max-width: 1024px) {
    header h3 {
      font-size: 40px; } }
  @media (min-width: 200px) and (max-width: 600px) {
    header h3 {
      font-size: 25px; } }

.pleaseNote {
  text-align: center;
  padding-bottom: 20px; }
  @media (min-width: 600px) and (max-width: 1024px) {
    .pleaseNote {
      padding: 20px;
      padding-bottom: 50px; } }
  .pleaseNote h3 {
    line-height: 1px;
    font-family: "Pridi", serif;
    font-size: 55px; }

.pleaseNote p {
  font-family: "Roboto", sans-serif; }

.footer .button {
  background-color: black;
  font-family: "Roboto", sans-serif;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  cursor: pointer; }
  @media (min-width: 200px) and (max-width: 600px) {
    .footer .button {
      padding: 10px 20px; } }

.footer {
  width: 100%;
  padding: 50px;
  position: absolute;
  left: 0;
  text-align: center;
  font-size: 18px; }

h4 {
  font-family: "Pridi", serif; }

.profileCard1Box {
  display: flex;
  justify-content: space-between;
  padding-bottom: 35px; }
  @media (min-width: 200px) and (max-width: 600px) {
    .profileCard1Box {
      flex-direction: column; } }

.profileCard1 {
  padding: 10px;
  width: 20%; }
  @media (min-width: 600px) and (max-width: 1024px) {
    .profileCard1 {
      width: 35%; } }
  @media (min-width: 200px) and (max-width: 600px) {
    .profileCard1 {
      width: 80%;
      padding-bottom: 5px; } }
  .profileCard1 img {
    width: 100%; }

.profileCard1 h4 {
  text-align: left;
  font-family: "Pridi", serif; }
  @media (min-width: 600px) and (max-width: 1024px) {
    .profileCard1 h4 {
      font-size: 12.5px; } }

.exampleCode1 {
  padding: 10px;
  width: 100%; }
  .exampleCode1 .example1 {
    width: 79%; }
    @media (min-width: 200px) and (max-width: 600px) {
      .exampleCode1 .example1 {
        padding: 5px;
        width: 90%; } }

.profileCard2Box {
  display: flex;
  justify-content: space-between;
  padding-bottom: 35px; }
  @media (min-width: 200px) and (max-width: 600px) {
    .profileCard2Box {
      flex-direction: column; } }

.profileCard2 {
  padding: 10px;
  width: 20%; }
  @media (min-width: 600px) and (max-width: 1024px) {
    .profileCard2 {
      width: 35%; } }
  @media (min-width: 200px) and (max-width: 600px) {
    .profileCard2 {
      width: 80%;
      padding-bottom: 5px; } }
  .profileCard2 img {
    width: 100%; }

.profileCard2 h4 {
  text-align: left;
  font-family: "Pridi", serif; }
  @media (min-width: 600px) and (max-width: 1024px) {
    .profileCard2 h4 {
      font-size: 12.5px; } }

.exampleCode2 {
  padding: 10px;
  width: 100%; }
  .exampleCode2 .example2 {
    width: 79%; }
    @media (min-width: 200px) and (max-width: 600px) {
      .exampleCode2 .example2 {
        padding: 5px;
        width: 94%; } }

.profileCard3Box {
  display: flex;
  justify-content: space-between;
  padding-bottom: 35px; }
  @media (min-width: 200px) and (max-width: 600px) {
    .profileCard3Box {
      flex-direction: column; } }

.profileCard3 {
  padding: 10px;
  width: 20%; }
  @media (min-width: 600px) and (max-width: 1024px) {
    .profileCard3 {
      width: 35%; } }
  @media (min-width: 200px) and (max-width: 600px) {
    .profileCard3 {
      width: 80%;
      padding-bottom: 5px; } }
  .profileCard3 img {
    width: 100%; }

.profileCard3 h4 {
  text-align: left;
  font-family: "Pridi", serif; }
  @media (min-width: 600px) and (max-width: 1024px) {
    .profileCard3 h4 {
      font-size: 12.5px; } }

.exampleCode3 {
  padding: 10px;
  width: 100%; }
  .exampleCode3 .example3 {
    width: 79%; }
    @media (min-width: 200px) and (max-width: 600px) {
      .exampleCode3 .example3 {
        padding: 5px;
        width: 94%; } }

.dropDownCardBox {
  display: flex;
  justify-content: space-between;
  padding-bottom: 35px; }
  @media (min-width: 200px) and (max-width: 600px) {
    .dropDownCardBox {
      flex-direction: column; } }

.dropDownCard {
  padding: 10px;
  width: 20%; }
  @media (min-width: 600px) and (max-width: 1024px) {
    .dropDownCard {
      width: 35%; } }
  @media (min-width: 200px) and (max-width: 600px) {
    .dropDownCard {
      width: 80%;
      padding-bottom: 5px; } }
  .dropDownCard img {
    width: 100%; }

.dropDownCard h4 {
  text-align: left;
  font-family: "Pridi", serif; }
  @media (min-width: 600px) and (max-width: 1024px) {
    .dropDownCard h4 {
      font-size: 12.5px; } }

.exampleCode4 {
  padding: 10px;
  width: 100%; }
  .exampleCode4 .example4 {
    width: 79%; }
    @media (min-width: 200px) and (max-width: 600px) {
      .exampleCode4 .example4 {
        padding: 5px;
        width: 94%; } }

.imageCard1Box {
  display: flex;
  justify-content: space-between;
  padding-bottom: 35px; }
  @media (min-width: 200px) and (max-width: 600px) {
    .imageCard1Box {
      flex-direction: column; } }

.imageCard1 {
  padding: 10px;
  width: 20%; }
  @media (min-width: 600px) and (max-width: 1024px) {
    .imageCard1 {
      width: 35%; } }
  @media (min-width: 200px) and (max-width: 600px) {
    .imageCard1 {
      width: 80%;
      padding-bottom: 5px; } }
  .imageCard1 img {
    width: 100%; }

.imageCard1 h4 {
  text-align: left;
  font-family: "Pridi", serif; }
  @media (min-width: 600px) and (max-width: 1024px) {
    .imageCard1 h4 {
      font-size: 12.5px; } }

.exampleCode5 {
  padding: 10px;
  width: 100%; }
  .exampleCode5 .example5 {
    width: 79%; }
    @media (min-width: 200px) and (max-width: 600px) {
      .exampleCode5 .example5 {
        padding: 5px;
        width: 94%;
        height: 100%; } }

.iconCard1Box {
  display: flex;
  justify-content: space-between;
  padding-bottom: 35px; }
  @media (min-width: 200px) and (max-width: 600px) {
    .iconCard1Box {
      flex-direction: column; } }

.iconCard {
  padding: 10px;
  width: 20%; }
  @media (min-width: 600px) and (max-width: 1024px) {
    .iconCard {
      width: 35%; } }
  @media (min-width: 200px) and (max-width: 600px) {
    .iconCard {
      width: 80%;
      padding-bottom: 5px; } }
  .iconCard img {
    width: 100%; }

.iconCard h4 {
  text-align: left;
  font-family: "Pridi", serif; }
  @media (min-width: 600px) and (max-width: 1024px) {
    .iconCard h4 {
      font-size: 12.5px; } }

.exampleCode6 {
  padding: 10px;
  width: 100%; }
  .exampleCode6 .example6 {
    width: 79%; }
    @media (min-width: 200px) and (max-width: 600px) {
      .exampleCode6 .example6 {
        padding: 5px;
        width: 100%;
        height: 100%; } }

/*# sourceMappingURL=image.css.map */
