//mixins for use throughout the sites.


//header mixins for spacing, font style and font sizes etc.
@mixin headerPreset {
    text-align: center;
    padding: 30px;
    font-family: $headerFam;
}

@mixin headerJumFont {
    line-height: 1px;
    font-size: 100px;
    font-weight: 900px;
}

@mixin headerJumSubFont {
    font-size: 50px;
    font-weight: 900px;
}

//Mixin created for the containers of the cards, to place them in
//a flexbox container.

@mixin cardBuckets {
    display: flex;
    align-items: flex-end;
}
// Card Mixins for elements to be used with each card created

@mixin cardShadow {
    border-radius: 4px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
}

@mixin cardSpacing {
    padding: 2px 16px;
}

//mixins specific to cards styled like card1 & card2

@mixin textInsert {
    border-radius: 4px;
    width: 250px;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    opacity: 0.9;
    color: black;
    padding-left: 20px;
    padding-right: 20px;
}

@mixin imageFlip {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}