//mixins for use throughout the sites.

//header mixins for spacing, font style and font sizes etc.
@mixin headerPreset {
    text-align: center;
    padding: 30px;
    font-family: $headerFam;
}

@mixin headerJumFont {
    line-height: 1px;
    font-size: 100px;
    font-weight: 900px;
}

@mixin headerJumSubFont {
    font-size: 50px;
    font-weight: 900px;
}

//Mixin created for the containers of the cards, to place them in
//a flexbox container.

@mixin cardBuckets {
    display: flex;
    align-items: flex-end;
}
// Card Mixins for elements to be used with each card created

@mixin cardShadow {
    transition: all .25s linear;
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.4);
}

@mixin shadeHover {
    box-shadow: -1px 10px 29px 0px rgba(0,0,0,0.8);
}

@mixin cardSpacing {
    padding: 2px 16px;
}

//mixins specific to cards styled like card1 & card2

//styling for text box insert inside image
@mixin textInsert {
    border-radius: 4px;
    width: 250px;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    opacity: 0.9;
    color: black;
    padding-left: 20px;
    padding-right: 20px;
}

//styling for inverting image

@mixin imageFlip {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

//mixins specific to cards styled like card3, card4, & card5

//styling for header fonts inside each card:
@mixin cardHeader {
    font-family: $bodyFam;
    font-weight: 900;
    font-size: 19px;
}

//using this mixin ensures there is a bottom border
//beneath the text, cleanly dividing paragraph from
//buttons:
@mixin cardText {
    padding-top: -10px;
    font-family: $bodyFam;
    border-bottom: 1px solid darkgrey;
    padding-bottom: 20px; 
}

//button styles for cards 3 4 & 5

@mixin buttons {
    background-color: black;
    font-family: $bodyFam;
    color: white;
    padding: 10px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
}

//view port mixins for responsiveness:

@mixin tablet {
    @media (min-width: #{$tablet}) and (max-width: 1024px) {
        @content;
    }
}

@mixin phone1 {
    @media (min-width: #{$phone}) and (max-width: #{$tablet}) {
        @content;
    }
}