//Mixin created for the containers of the cards, to place them in
//a flexbox container.

@mixin cardBuckets {
    display: flex;
    border: 2px black solid;
    justify-content: center;
}


// Card Mixins for elements to be used with each card created

@mixin cardShadow {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
}

@mixin cardSpacing {
    padding: 2px 25px;
}