@import 'fonts';
@import 'mixins';
@import 'colors_media';

//header styling for the website

header {
    @include headerPreset;
    @include tablet {
        padding: 15px;
    }
    @include phone1 {
        padding: 5px;
    }
    h1 {
        @include headerJumFont;
        @include tablet {
            font-size: 50px;
        }
        @include phone1 {
            font-size: 30px;
        }
    }
}

header {
    h3 {
        @include headerJumSubFont;
        @include tablet {
            font-size: 40px;
        }
        @include phone1 {
            font-size: 25px;
        }
    }
}

//howToUse section

.howToUse {
    h4 {
        font-family: $headerFam;
        font-size: 35px;
    }
}

.howToUse {
        p {
            font-family: $bodyFam;
        }
}

//end of howToUse section

//pleaseNote secction styling

.pleaseNote {
    text-align: center;
    padding-bottom: 45px;
    h3 {
        line-height:1px;
        font-family: $headerFam;
        font-size: 55px;
    }
}

.pleaseNote {
        p {
            font-family: $bodyFam;
        }
}

//end of pleaseNote section editiing

//footer section styling


.footer {
    .button {
    background-color: black;
    font-family: $bodyFam;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
        @include phone1 {
            padding: 10px 20px;
        }
    }
}

.footer {
    width: 100%;
    padding: 50px;
    position: relative;
    left: -5%;
    text-align: center;
    font-size: 18px;
}

//end of footer section editing

//hire me styling

.proPic {
    width: 18%;
}

.hireMe {
    h1 {
        font-size: 65px;
    }
    h2 {
        font-size: 35px;
    }
    p {
        font-family: $bodyFam;
        text-align: center;
    }
}

//end of hire me styling

//logo resizing

.linkedin {
    width: 2%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

    .github {
        width: 2%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

//end of logo resizing

//heading update for each individual card

h5 {
    font-family: $headerFam;
    position: relative;
    left: 2.5%;
    font-size: 20px;
    text-align: center;
    @include tablet {
        left: 1.5%;
    }
    @include phone1 {
        left: 1%;
        font-size: 15px;
    }
}

h5:nth-of-type(6) {
    left: 28%;
    @include tablet {
        left: 20%;
    }
    @include phone1 {
        left: 1%;
    }
}

h5:nth-of-type(5) {
    @include phone1 {
        left: 20%;
    }
}

//**START OF profilecard1 STYLING

.profileCard1 {
    position: relative;
    left: 25%;
    @include tablet {
        left: 35%;
    }
    @include phone1 {
        left: 25.5%;
    }
    @include cardShadow;
    width: 50%;
    padding-bottom: 10px;
    @include tablet {
        width: 35%;
    }
    @include phone1 {
        width: 50%;
        padding-bottom: 5px;
    }          
        img {
            width: 100%;
        }
    }

.profileCard1:hover {
    @include shadeHover;
}

.profileCard1 {
    h1 {
        text-align: left;
        font-family: $headerFam;
        line-height: 2px;
        @include tablet {
            font-size: 22.5px;
        }
    }
}

.profileCard1 {
    h4 {
        text-align: left;
        font-family: $headerFam;
        @include tablet {
            font-size: 12.5px;
        }
    }
}

.profileCard1  {
    .textcontainer {
        @include cardSpacing;
        text-align: left;
        h4 {
            @include cardHeader;
            line-height: 1px;
            @include tablet {
                font-size: 15px;
            }
        }
    }  
}

.profileCard1 {
    .textcontainer {
        h6 {
            font-size: 14px;
            font-weight: 400;
            font-family: $bodyFam;
            line-height: 1px;
            @include tablet {
                font-size: 11px;
                line-height: 0.5px;
            }
        }
    }
}

.profileCard1  {
    .textcontainer {
        @include cardSpacing;
        text-align: left;
        p {
            @include cardText;
            @include tablet {
                font-size: 13.5px;
            }
          }
    }  
}

.actionItems {
    @include tablet {
        line-height: 0.5px;
    }
    .button {
        @include buttons;
        @include tablet {
            padding: 5px 6px;
            font-size: 9.5px;
            margin: 2px 1px;
        }
    }
}

//**END OF profilecard1 STYLING


//**START OF profilecard2 STYLING

.profileCard2 {
    position: relative;
    left: 25%;
    @include tablet {
        left: 35%;
    }
    @include phone1 {
        left: 26.5%;
    }
    @include cardShadow;
    width: 50%;
    padding-bottom: 10px;
    @include tablet {
        width: 35%;
    }
    @include phone1 {
        width: 50%;
    }
        img {
            width: 100%;
        }
    }

.profileCard2:hover {
    @include shadeHover;
}

.profileCard2 {
    h1 {
        text-align: center;
        font-family: $headerFam;
        line-height: 2px;
        @include tablet {
            font-size: 22.5px;
        }
    }
}

.profileCard2 {
    h4 {
        text-align: center;
        font-family: $headerFam;
        @include tablet {
            font-size: 12.5px;
        }
    }
}

.profileCard2  {
    .textcontainer {
    @include cardSpacing;
    text-align: center;
        h4 {
        @include cardHeader;
        @include tablet {
            font-size: 15px;
            line-height: 1px;
        }
        }
    }  
}

.profileCard2  {
    .textcontainer {
        @include cardSpacing;
        text-align: center;
        p {
            @include cardText;
            @include tablet {
                font-size: 13.5px;
            } 
          }
    }  
}

.profileCard2 {
    .textcontainer{
        .button {
        @include buttons;
        @include tablet {
            padding: 5px 6px;
            font-size: 9.5px;
            margin: 2px 1px;
        }
        }
    }
}

//**END OF profilecard2 STYLING

//**START OF profilecard3 STYLING

.profileCard3 {
    position: relative;
    left: 25%;
    @include tablet {
        left: 35%;
    }
    @include phone1 {
        left: 25.5%;
    }
    @include cardShadow;
    width: 50%;
    padding-bottom: 10px;
    @include tablet {
        width: 35%;
    }
    @include phone1 {
        width: 50%;
        padding-bottom: 5px;
    }          
        img {
            width: 100%;
        }
    }               

.profileCard3:hover {
    @include shadeHover;
}

.profileCard3 {
    h1 {
        text-align: right;
        font-family: $headerFam;
        line-height: 2px;
        @include tablet {
            font-size: 22.5px;
        }
    }
}

.profileCard3 {
    h4 {
        text-align: right;
        font-family: $headerFam;
        @include tablet {
            font-size: 12.5px;
        }
    }
}

.profileCard3  {
    .textcontainer {
    @include cardSpacing;
    text-align: right;
        h4 {
        @include cardHeader;
        @include tablet {
            font-size: 15px;
            line-height: 1px;
            }
        }
    }  
}

.profileCard3  {
    .textcontainer {
        @include cardSpacing;
        text-align: right;
        p {
            @include cardText;
            @include tablet {
                font-size: 13.5px;
            }  
          }
    }  
}

.profileCard3 {
    .textcontainer{
        .button {
        @include buttons;
        @include tablet {
            padding: 5px 6px;
            font-size: 9.5px;
            margin: 2px 1px;
            }
        }
    }
}

//**END OF profilecard3 STYLING

//**START OF dropDown Card STYLING

    .dropDownCard {
        position: relative;
        left: 25%;
        @include tablet {
            left: 35%;
        }
        @include phone1 {
            left: 25.5%;
        }
        @include cardShadow;
        width: 50%;
        padding-bottom: 10px;
        @include tablet {
            width: 35%;
        }
        @include phone1 {
            width: 50%;
            padding-bottom: 5px;
        }          
            img {
                width: 100%;
            }
        }

.dropDownCard {
        img {
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
        }
    }

.dropDownCard {
        h4 {
            padding: 10px;
            font-size: 20px;
            font-weight: 900;
            font-family: $bodyFam;
            @include tablet {
                font-size: 15px;
                line-height: 1px;
                }    
        }
    }

.dropDownCard {
    .collapsible-content {
        padding: 10px;
        @include tablet {
            padding: 5px;
        }
        p {
            font-family: $bodyFam;
            @include tablet {
                font-size: 12px;
            }
        }
    }
}

.dropDownCard {
    .collapsible-content {
        .button {
            @include buttons;
            @include tablet {
                padding: 5px 6px;
                font-size: 9.5px;
                margin: 2px 1px;    
            }
        }
    }
}

.dropDownCard {
        .lbl-toggle {
            text-align: left;
            padding: 10px;
            font-family: $bodyFam;
            font-weight: 900;
            line-height: 40px;
            }
        }

input[type='checkbox'] {
            display: none;
        }

.collapsible-content {
    display: none;
}

.toggle:checked ~ .collapsible-content{
            display: block;
        }

  .lbl-toggle::before {
    content: ' ';
    display: inline-block;
  
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid currentColor;
  
    vertical-align: middle;
    margin-right: .7rem;
    transform: translateY(-2px);
  
    transition: transform .2s ease-out;
  }

  .toggle:checked + .lbl-toggle::before {
    transform: rotate(90deg) translateX(-3px);
  }
  
  .toggle:checked + .lbl-toggle {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

//**END OF DropDownCard STYLING

//**START OF IMAGECARD1 STYLING

.imageCard1 {
        position: relative;
        left: 20%;
        @include phone1 {
            left: 15%;
        }
        @include tablet {
            left: 26%;
        }
        width: 50%;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        @include cardShadow;
}

.imageCard1 {
    @include phone1 {
        width: 80%;
    }
}

.imageCard1:hover {
    @include shadeHover;
}

.imageCard1 {
    img {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        width: 100%;
    }
}

.imageCard1  {
    .textcontainer {
        @include cardSpacing;
        text-align: left;
        h1 {
            font-family: $bodyFam;
            font-weight: 700;
            font-size: 18.5px;
            line-height: 1px;
            @include tablet {
                font-size: 15px;
                line-height: 0.5px;
            }
            @include phone1 {
                font-size: 15px;
            }
        }
    }  
}

.imageCard1 {
    .textcontainer {
        h3 {
            font-size: 17px;
            font-weight: 400;
            font-family: $bodyFam;
            @include tablet {
                font-size: 15px;
            }
            @include phone1 {
                font-size: 13px;
            }
        }
    }
}

//**END OF IMAGECARD1 STYLING

//start of styling for iconcard1

.iconCard {
    position: relative;
    left: 35%;
    border-radius: 4px;
    width: 30%;
    @include phone1 {
        left: 30%;
    }
    @include tablet {
        left: 39.5%;
    }
    padding: 20px;
    background-color: #ffffff R255 G255 B255;
    @include cardShadow;
    img {
        border-radius: 50%;
        border: solid 2px black;            
        width: 100%;
        height: 150px;
        @include tablet {
            height: 200px;
            @include phone1 {
                height: 180px;
            }
        }
    }
}

.iconCard {
    @include tablet {
        width: 20%;
        @include phone1 {
            width: 50%;
        }
    }
}

.iconCard:hover {
    @include shadeHover;
}

.iconCard {
    .text {
        h4 {
            font-family: $bodyFam;
            text-align: center;
        }
    }
}

.iconCard {
    .text {
        p {
            text-align: center;
            font-family: $bodyFam;
        }
    }
}

//end of styling for iconcard1

//css styling for html source code imaging appearing
//and reappearing.

  #editor1 {
        display: space-around;
        position: relative;
        height: 400px;
        width: 500px;
        right: -150px;
        @include phone1 {
            height: 300px;
            width: 420px;
            right: -5px;
        }
}
    #editor1 {
        @include tablet {
            right: -255px;
        }
    }

#editor2 {
    display: space-around;
    position: relative;
    height: 310px;
    width: 500px;
    right: -150px;
    @include phone1 {
        height: 310px;
        width: 420px;
        right: -5px;
    }
}

#editor2 {
    @include tablet {
        right: -255px;
    }
}

#editor3 {
    display: space-around;
    position: relative;
    height: 325px;
    width: 525px;
    right: -150px;
    @include phone1 {
        height: 320px;
        width: 420px;
        right: -5px;
    }
}

#editor3 {
    @include tablet {
        right: -255px;
    }
}

#editor4 {
    display: space-around;
    position: relative;
    height: 455px;
    width: 600px;
    right: -80px;
    @include phone1 {
        height: 300px;
        width: 400px;
        right: -25px;
    }
}

#editor4 {
    @include tablet {
        right: -205px;
    }
}

#editor5 {
    display: space-around;
    position: relative;
    height: 225px;
    width: 595px;
    right: -70px;
    @include phone1 {
        height: 300px;
        width: 400px;
        right: -15px;
    }
}

#editor5 {
    @include tablet {
        right: -185px;
        height: 245px;
    }
}

#editor6 {
    display: space-around;
    position: relative;
    height: 225px;
    width: 595px;
    right: -100px;
    @include phone1 {
        height: 300px;
        width: 400px;
        right: -25px;
    }
}

#editor6 {
    @include tablet {
        right: -200px;
        height: 250px;
    }
}

.pair1 {
    display: flex;
    padding: 25px;
    @include phone1 {
        flex-direction: column;
    }
}

.pair1 {
    @include tablet {
        flex-direction: column;
    }
}

.container1 {
    display: flex, column;
    border: solid black;
}

.container2 {
    display: flex, column;
    border: solid black;
}

.pair2 {
    display: flex;
    padding: 25px;
    @include phone1 {
        flex-direction: column;
    }
}

.pair2 {
    @include tablet {
        flex-direction: column;
    }
}

.container3 {
    display: flex, column;
    border: solid black;
}

.container4 {
    display: flex, column;
    border: solid black;
}

.pair3 {
    display: flex;
    padding: 25px;
    @include phone1 {
        flex-direction: column;
    }
}

.pair3 {
    @include tablet {
        flex-direction: column;
    }
}

.container5 {
    display: flex, column;
    border: solid black;
}

.container6 {
    display: flex, column;
    border: solid black;
}