@import 'colors_media';
@import 'fonts';
@import 'mixins';

//header styling for the website

header {
    text-align: center;
    padding: 30px;
    font-family: $headerFam;
    h1 {
        font-size: 100px;
        font-weight: 900px;
        @include tablet {
            font-size: 70px;
        }
        @include phone1 {
            font-size: 50px;
        }
    }
}

header {
    h2 {
        font-size: 60px;
        @include tablet {
            font-size: 30px;
        }
        @include phone1 {
            font-size: 20px;
        }
    }
}

//Flex-box display property implementation

.cardBucket {
    @include cardBuckets;
    justify-content: space-around;
}

//**START OF CARD1 STYLING

    .card1 {
        width: 40%;
        padding-bottom: 10px;
        @include phone1 {
            width: 50%;
        }
        .content {
            border-radius: 4px;
            box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);            
            img {
                width: 100%;
            }
        }
    }

.card1 {
    .container {
        @include cardSpacing;
        text-align: center;
        h4 {
            font-family: $bodyFam;
            font-weight: 900;
            font-size: 20px;
            @include phone1 {
                font-size: 15px;
            }
        }
    }  
}

.card1 {
    .container {
        @include cardSpacing;
        text-align: center;
        p {
            font-family: $bodyFam;
            @include phone1 {
                font-size: 13px;
            }
        }
    }  
}

.button {
    background-color: black;
    font-family: $bodyFam;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
    @include phone1 {
        padding: 10px 20px;
    }
  }

//**END OF CARD1 STYLING

//howToUse section

.howToUse {
    h4 {
        font-family: $headerFam;
        font-size: 28px;
    }
}

.howToUse {
        p {
            font-family: $bodyFam;
        }
}

//end of howToUse section