@import 'colors';
@import 'fonts';
@import 'mixins';

.cardBucket {
    @include cardBuckets;
    align-items: flex-end;
    .card {
        img {
            height: 50%;
            width: 50%;
        }
    }
}

.card {
    @include cardShadow;
    padding: 20px;
}

// .card:hover {
//     box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
//   }  

.container {
    @include cardSpacing;
    justify-content: center;
}