@import 'colors';
@import 'fonts';
@import 'mixins';

//header styling for the website

header {
    text-align: center;
    padding: 30px;
    font-family: $headerFam;
    h1 {
        font-size: 100px;
        font-weight: 900px;
    }
}

header {
    h2 {
        font-size: 60px;
    }
}

// Card Row code, for adding styling any row of cards, initially,
// and displaying them appropriately.

.cardBucket {
    align-content: center;
    @include cardBuckets;
    .card {
        img {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 40%;        }
    }
}

.card {
    @include cardShadow;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }  

.container {
    @include cardSpacing;
    text-align: center;
}