@import 'colors';
@import 'fonts';
@import 'mixins';

//header styling for the website

header {
    text-align: center;
    padding: 30px;
    font-family: $headerFam;
    h1 {
        font-size: 100px;
        font-weight: 900px;
    }
}

//Flex-box display property implementation

.cardBucket {
    @include cardBuckets;
    justify-content: space-around;
}


//**START OF CARD1 STYLING

.card1 {
    width: 100%;
    padding-bottom: 10px;
    background-image: url("../images/batSSkyline.jpg");
    background-repeat: no-repeat;
        img {
            width: 100%;
        }
    }

.card1 {
.container {
    @include cardSpacing;
    text-align: center;
    h4 {
        font-family: $bodyFam;
        font-weight: 900;
        font-size: 20px;
    }
}  
}

.card1 {
    .container {
        @include cardSpacing;
        text-align: center;
        p {
            font-family: $bodyFam2;
        }
    }  
}

//**END OF CARD1 STYLING