@import 'fonts';
@import 'mixins';
@import 'colors_media';

//header styling for the website

header {
    @include headerPreset;
    @include tablet {
        padding: 5px;
    }
    @include phone1 {
        padding: 5px;
    }
    h1 {
        @include headerJumFont;
        @include tablet {
            font-size: 50px;
        }
        @include phone1 {
            font-size: 30px;
        }
    }
}

header {
    h3 {
        @include headerJumSubFont;
        @include tablet {
            font-size: 40px;
        }
        @include phone1 {
            font-size: 25px;
        }
    }
}

//pleaseNote secction styling

.pleaseNote {
    text-align: center;
    padding-bottom: 20px;
    @include tablet {
        padding: 20px;
        padding-bottom: 50px;
    }
    h3 {
        line-height:1px;
        font-family: $headerFam;
        font-size: 55px;
    }
}

.pleaseNote {
        p {
            font-family: $bodyFam;
        }
}

//end of pleaseNote section editiing

//footer section styling


.footer {
    .button {
    background-color: black;
    font-family: $bodyFam;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
        @include phone1 {
            padding: 10px 20px;
        }
    }
}

.footer {
    width: 100%;
    padding: 50px;
    position: absolute;
    left: 0;
    text-align: center;
    font-size: 18px;
}

//end of footer section editing

//heading update for each individual card

h4 {
    font-family: $headerFam;
}

//**START OF profilecard1 STYLING

.profileCard1Box {
    display: flex;
    justify-content: space-between;
    padding-bottom: 35px;
    @include phone1 {
        flex-direction: column;
    }
}

.profileCard1 {
    padding: 10px;
    width: 20%;
    @include tablet {
        width: 35%;
    }
    @include phone1 {
        width: 80%;
        padding-bottom: 5px;
    }          
        img {
            width: 100%;
        }
    }

.profileCard1 {
    h4 {
        text-align: left;
        font-family: $headerFam;
        @include tablet {
            font-size: 12.5px;
        }
    }
}

.exampleCode1 {
    padding: 10px;
    width: 100%;
    .example1 {
        width: 79%;
        @include phone1 {
            padding: 5px;
            width: 90%;
        }
    }
}

//**END OF profilecard1 STYLING


//**START OF profilecard2 STYLING

.profileCard2Box {
    display: flex;
    justify-content: space-between;
    padding-bottom: 35px;
    @include phone1 {
        flex-direction: column;
    }
}

.profileCard2 {
    padding: 10px;
    width: 20%;
    @include tablet {
        width: 35%;
    }
    @include phone1 {
        width: 80%;
        padding-bottom: 5px;
    }          
        img {
            width: 100%;
        }
    }

.profileCard2 {
    h4 {
        text-align: left;
        font-family: $headerFam;
        @include tablet {
            font-size: 12.5px;
        }
    }
}

.exampleCode2 {
    padding: 10px;
    width: 100%;
    .example2 {
        width: 79%;
        @include phone1 {
            padding: 5px;
            width: 94%;
        }
    }
}
//**END OF profilecard2 STYLING

//**START OF profilecard3 STYLING

.profileCard3Box {
    display: flex;
    justify-content: space-between;
    padding-bottom: 35px;
    @include phone1 {
        flex-direction: column;
    }
}

.profileCard3 {
    padding: 10px;
    width: 20%;
    @include tablet {
        width: 35%;
    }
    @include phone1 {
        width: 80%;
        padding-bottom: 5px;
    }          
        img {
            width: 100%;
        }
    }

.profileCard3 {
    h4 {
        text-align: left;
        font-family: $headerFam;
        @include tablet {
            font-size: 12.5px;
        }
    }
}

.exampleCode3 {
    padding: 10px;
    width: 100%;
    .example3 {
        width: 79%;
        @include phone1 {
            padding: 5px;
            width: 94%;
        }
    }
}

//**END OF profilecard3 STYLING

//**START OF dropDown Card STYLING

.dropDownCardBox {
    display: flex;
    justify-content: space-between;
    padding-bottom: 35px;
    @include phone1 {
        flex-direction: column;
    }
}

.dropDownCard {
    padding: 10px;
    width: 20%;
    @include tablet {
        width: 35%;
    }
    @include phone1 {
        width: 80%;
        padding-bottom: 5px;
    }          
        img {
            width: 100%;
        }
    }

.dropDownCard {
    h4 {
        text-align: left;
        font-family: $headerFam;
        @include tablet {
            font-size: 12.5px;
        }
    }
}

.exampleCode4 {
    padding: 10px;
    width: 100%;
    .example4 {
        width: 79%;
        @include phone1 {
            padding: 5px;
            width: 94%;
        }
    }
}

//**END OF DropDownCard STYLING

//**START OF IMAGECARD1 STYLING

.imageCard1Box {
    display: flex;
    justify-content: space-between;
    padding-bottom: 35px;
    @include phone1 {
        flex-direction: column;
    }
}

.imageCard1 {
    padding: 10px;
    width: 20%;
    @include tablet {
        width: 35%;
    }
    @include phone1 {
        width: 80%;
        padding-bottom: 5px;
    }          
        img {
            width: 100%;
        }
    }

.imageCard1 {
    h4 {
        text-align: left;
        font-family: $headerFam;
        @include tablet {
            font-size: 12.5px;
        }
    }
}

.exampleCode5 {
    padding: 10px;
    width: 100%;
    .example5 {
        width: 79%;
        @include phone1 {
            padding: 5px;
            width: 94%;
            height: 100%;
        }
    }
}

//**END OF IMAGECARD1 STYLING

//start of styling for iconcard1

.iconCard1Box {
    display: flex;
    justify-content: space-between;
    padding-bottom: 35px;
    @include phone1 {
        flex-direction: column;
    }
}

.iconCard {
    padding: 10px;
    width: 20%;
    @include tablet {
        width: 35%;
    }
    @include phone1 {
        width: 80%;
        padding-bottom: 5px;
    }          
        img {
            width: 100%;
        }
    }

.iconCard {
    h4 {
        text-align: left;
        font-family: $headerFam;
        @include tablet {
            font-size: 12.5px;
        }
    }
}

.exampleCode6 {
    padding: 10px;
    width: 100%;
    .example6 {
        width: 79%;
        @include phone1 {
            padding: 5px;
            width: 100%;
            height: 100%;
        }
    }
}