@import 'colors';
@import 'fonts';
@import 'mixins';

//header styling for the website

header {
    text-align: center;
    padding: 30px;
    font-family: $headerFam;
    h1 {
        font-size: 100px;
        font-weight: 900px;
    }
}

//Flex-box display property implementation

.cardBucket {
    @include cardBuckets;
    justify-content: space-around;
}


//**START OF IMAGECARD1 STYLING

.imageCard1 {
    h1 {
        font-family: $headerFam;
    }
}

.imageCard1 {
    h4 {
        font-family: $headerFam;
    }
}

.imageCard1 {
    padding: 10px;
    flex: 50%;
    img {
        border-radius: 10px;
        width: 100%;
    }
}

.imageCard1 {
    .text-insert {
        border-radius: 4px;
        width: 250px;
        position: absolute;
        left: 40%;
        bottom: -32.5%;
        transform: translate(-50%, -50%);
        background-color: #ffffff;
        opacity: 0.9;
        color: black;
        padding-left: 20px;
        padding-right: 20px;
    }
}

.imageCard1 {
    .text-insert {
        h4 {
            font-size: 20px;
            font-weight: 900;
            font-family: $bodyFam;
        }
    }
}

.imageCard1 {
    .text-insert {
        p {
            font-family: $bodyFam;   
        }
    }
}

.imageCard1 {
    .text-insert {
        .actionItems {
            display: flex;
            p {
                font-weight: 700;
                padding: 10px;
                }
            }
        }
    }


//**END OF IMAGECARD1 STYLING

//**START OF IMAGECARD2 STYLING

.imageCard2 {
    h1 {
        font-family: $headerFam;
    }
}

.imageCard2 {
    h4 {
        font-family: $headerFam;
    }
}

.imageCard2 {
    padding: 10px;
    flex: 50%;
    .skyline {
        border-radius: 10px;
        width: 100%;
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
    }
}

.imageCard2 {
    .text-insert {
        border-radius: 4px;
        width: 250px;
        position: absolute;
        right: 22.5%;
        bottom: -35%;
        transform: translate(-50%, -50%);
        background-color: #ffffff;
        opacity: 0.9;
        color: black;
        padding-left: 20px;
        padding-right: 20px;
    }
}

.imageCard2 {
    .text-insert {
        .insertHeader {
            display: flex;
            .logo {
                height: 40px;
                margin-right: 5px;
                width: 75px;
                padding: 5px;
                padding-left: 50px;
            }            
        }
    }
}

.imageCard2 {
    .text-insert {
        h4 {
            font-size: 20px;
            font-weight: 900;
            font-family: $bodyFam;
            line-height: 1px;
        }
    }
}

.imageCard2 {
    .text-insert {
        .text {
            font-family: $bodyFam;
            padding-bottom: 15px;
            border-bottom: 1px solid darkgrey;   
        }
    }
}

.imageCard2 {
    .text-insert {
        .actionItems {
            display: flex;
            p {
                font-family: $bodyFam;
                font-weight: 700;
                padding: 10px;
                }
            }
        }
    }



//**END OF IMAGECARD2 STYLING

//**START OF IMAGECARD3 STYLING

.imageCard3 {
    width: 20%;
    padding-bottom: 10px;
    .content {
        border-radius: 4px;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);            
        img {
            width: 100%;
        }
    }
}

.imageCard3 {
    h1 {
        text-align: left;
        font-family: $headerFam;
        line-height: 2px;
    }
}

.imageCard3 {
    h4 {
        text-align: left;
        font-family: $headerFam;
    }
}

.imageCard3  {
    .container {
        @include cardSpacing;
        text-align: left;
        h4 {
            font-family: $bodyFam;
            font-weight: 900;
            font-size: 19px;
            line-height: 1px;
        }
    }  
}

.imageCard3 {
    .container {
        h6 {
            font-size: 14px;
            font-weight: 400;
            font-family: $bodyFam;
            line-height: 1px;
        }
    }
}

.imageCard3  {
    .container {
        @include cardSpacing;
        text-align: left;
        p {
            padding-top: -10px;
            font-family: $bodyFam;
            border-bottom: 1px solid darkgrey;
            padding-bottom: 20px; 
          }
    }  
}

.actionItems {
    .button {
        background-color: black;
        font-family: $bodyFam;
        color: white;
        padding: 10px 12px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 12px;
        margin: 4px 2px;
        cursor: pointer;
    }
}

//**END OF IMAGECARD3 STYLING


//**START OF IMAGECARD4 STYLING

.imageCard4 {
    width: 20%;
    .content {
        border-radius: 4px;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);            
        img {
            width: 100%;
        }
    }
}

.imageCard4 {
    h1 {
        text-align: center;
        font-family: $headerFam;
        line-height: 2px;
    }
}

.imageCard4 {
    h4 {
        text-align: center;
        font-family: $headerFam;
    }
}

.imageCard4  {
    .container {
    @include cardSpacing;
    text-align: center;
        h4 {
        line-height: 1px;
        font-family: $bodyFam;
        font-weight: 900;
        font-size: 18px;
        }
    }  
}

.imageCard4  {
    .container {
        @include cardSpacing;
        text-align: center;
        p {
            font-size: 15px;
            font-family: $bodyFam;
            border-bottom: 1px solid darkgrey;
            padding-bottom: 20px; 
          }
    }  
}

.button {
    background-color: black;
    font-family: $bodyFam;
    border: none;
    color: white;
    padding: 10px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
}

//**END OF IMAGECARD4 STYLING

//**START OF IMAGECARD5 STYLING

.imageCard5 {
    width: 20%;
    .content {
        border-radius: 4px;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);            
        img {
            width: 100%;
            height: 415px;
        }
    }
}

.imageCard5 {
    h1 {
        text-align: right;
        font-family: $headerFam;
        line-height: 2px;
    }
}

.imageCard5 {
    h4 {
        text-align: right;
        font-family: $headerFam;
    }
}

.imageCard5  {
    .container {
    @include cardSpacing;
    text-align: right;
        h4 {
        line-height: 1px;
        font-family: $bodyFam;
        font-weight: 900;
        font-size: 18px;
        }
    }  
}

.imageCard5  {
    .container {
        @include cardSpacing;
        text-align: right;
        p {
            font-size: 15px;
            font-family: $bodyFam;
            border-bottom: 1px solid darkgrey;
            padding-bottom: 20px; 
          }
    }  
}

.button {
    background-color: black;
    font-family: $bodyFam;
    border: none;
    color: white;
    padding: 10px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
}

//**END OF IMAGECARD5 STYLING